@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

:root {
    --dark-blue: #2A324B;
    --matte-blue: #58699D;
    --grey: #E1E5EE;
    --white: #fff;

    --font: 'Roboto', sans-serif;
    --rootsize: 20px;
    --maxwidth: 900px   ;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grey);
    font-family: var(--font);
    font-size: var(--rootsize);
}

header {
    text-align: center;
    font-size: 17px;
    padding-top: 150px;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 20px 40px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--dark-blue);
    font-weight: 800;
}

nav li:hover {
    background-color: var(--white);
    color: var(--dark-blue);
}

#navResource {
    display: flex;
    justify-content: space-between;
}

#contentResource {
    max-width: var(--maxwidth);
    background-color: var(--white);
    text-align: left;
    max-width: 900px;
    padding: 40px;
    height: 350px;
}


